.header {
  background-color: gray;
  height: 2.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.menu li {
  width: 100px;
}

a:link {
  text-decoration: none;
}


