nav {
  color: white;
  font-size: 1.2rem;
  background-color: #333333;
  display: flex;
  align-items: center;
  height: 4rem;
}
.active {
  background-color: #c2b506;
}

a {
  padding: 1rem;
}

ul {
  height: inherit;
  display: flex;
  height: 4rem;
  align-items: center;
}
ul > li {
  list-style-type: none;
  align-content: stretch;
  display: flex;
  height: 4rem;
}
a:link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem 0;
  gap: 2rem;
  padding: 0 2rem;
  text-align: center;
}
h3 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem;
}

.card {
  background: #f1f1f1;
  line-height: 2;
}

button {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 2rem;
}

img {
  width: 100%;
}
